<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>REITs交易平台</title>
    <link rel="icon" href="/img/page_icon.png"/>
    <link href="/css/home_page/home_page_circle.css" rel="stylesheet"/>
    <link href="/css/home_page/header_and_nav.css" rel="stylesheet"/>
    <link href="/css/home_page/bottom_ifon_and_feature.css" rel="stylesheet"/>
    <script src="/js/jquery-1.3.2.min.js"></script>
    <script src="/js/home/home_page_circle.js"></script>
    <script src="/js/home/header_model_js.js"></script>
</head>
<body>
<!--整体结构很明确，就是轮播图的位置用了绝对位置感觉很不好，
然后接下来那些都用了绝对位置，很尴尬-->
<header th:include="header :: copy"></header>
<div th:include="short_nav_show :: short_nav_show" class="short_nav_show"></div>
<nav th:include="my_nav :: my_nav" class="my_nav"></nav>
<div th:include="personal_nav :: personal_nav" class="personal_nav"></div>
<div class="my_slider">
    <div class="my_slide">
        <h1>REITs的发展和现状简介</h1>
        <p>
            最近，物流地产平台esr Group Limited（以下简称“ESR”）发布公告称，拟将旗下位于江苏昆山的3个高标准物流项目通过公募REITs形式在上交所上市。
            这家公司被称为业界“小普洛斯”，其年初宣布以52亿美元完成收购ARA，而ARA是由李嘉诚参与创办的房地产资管公司。
            <a href="https://finance.sina.com.cn/money/fund/jjyj/2022-12-14/doc-imxwrust9639170.shtml">请点击这儿查询......</a>
        </p>
        <div class="slide_img">
            <img src="/img/home/大别野1.jpg" style="width: 400px;height: 270px"/>
        </div>
    </div>
    <div class="my_slide">
        <h1>REITs的发展和现状</h1>
        <p>
            REIT从20世纪60年代在美国推出以来，市场规模逐渐壮大。截至2020年，全球范围内共有44个国家设立了REITs相关法规。全球REITs市场中前五大市场为美国、日本、澳大利亚、英国、新加坡。
            2005年12月，越秀REITs在港交所上市，标志着我国首单内陆REITs上市。2014年，我国首单类REITs产品——中信启航REITs成功发行并在深交所综合协议交易平台挂牌转让。。</p>
        <div class="slide_img">
            <img src="/img/home/大别野1.jpg" style="width: 400px;height: 270px"/>
        </div>
    </div>
    <div class="my_slide">
        <h1>证券分层设计</h1>
        <p>
            我国类REITs根据证券设计不同而被分为偏股型和偏债型。其中偏股型一般将证券设计为优先级证券+次级证券模式，优先级证券设预期收益率，
            获得固定收益；次级证券不评级，不设预期收益率，除固定收益外还可享有标的物业增值收益。在我国目前发行的偏股型类REITs产品中，
            劣后级证券一般大部分由原始权益人认购，偏债型REITs一般设计为优先A证券+优先B证券（+优先C证券）模式，优先级证券设预期收益率，
        </p>
        <div class="slide_img">
            <img src="/img/home/大别野02.jpg" style="width: 400px;height: 270px"/>
        </div>
    </div>
    <div class="my_slide">
        <h1>类REITs风险总结 </h1>
        <p>
            具体为：其一，委托代理链条长，税负重，融资成本高；其二，组织结构复杂，代理人环节复杂，管理及监督成本高；其三，偏股型REITs存在退出风险（包括但不限于估值不公允风险、信息披露风险等）；其四，流动性弱，无法实现资产主动管理。
        </p>
        <div class="slide_img">
            <img src="/img/home/rBEQYFGbHbIIAAAAAAKw4BQkpv4AABqfgAhcuwAArD4706.jpg" style="width: 400px;height: 270px"/>
        </div>
    </div>
    <div class="my_slide current">
        <h1>没啥好说的了
        </h1>
        <p></p>
        <div class="slide_img">
            <img src="/img/home/大别野02.jpg" style="width: 400px;height: 270px"/>
        </div>
    </div>
    <div class="left_border">
        <span class="left_turn"></span>
    </div>
    <div class="right_border">
        <span class="right_turn"></span>
    </div>
</div>
<div class="featured_products">
    <h2>精选的商品</h2>
    <figure class="product" th:each="o:${shopInformationBean}">
        <div class="product_img_div">
            <img src="/img/home/大别野02.jpg" class="show_img"/>
<!--               <img src="/img/home/feature_prodects/cont1.jpg" class="show_img" th:src="${o.image}"/>         -->
        </div>
        <p class="show_tip" th:text="${o.remark}"></p>
        <input class="product_id" type="hidden" th:value="${o.id}"/>
        <a class="product_name" th:href="'/selectById.do?id='+${o.id}" th:text="某reits基金" th:title="${o.name}">wsk1103</a><br/>
        <!--<span class="product_name" th:text="${o.name}" th:value="${o.id}">Big block Lether Bag</span><br/>-->
        <span class="product_cost" th:text="'￥'+${o.price}+'元'">$350.00</span><br/><br/>
        <span class="buy product_1" th:value="${o.id}">加入购物车</span>
    </figure>
    <!--<div class="product">-->
        <!--<img src="img/home/feature_prodects/cont2.jpg" width="100%"/>-->
        <!--<span class="product_name">Big block Lether Bag</span>-->
        <!--<span class="product_cost">$350.00</span><br/><br/>-->
        <!--<span class="buy product_2">Buy</span>-->
    <!--</div>-->
    <!--<div class="product">-->
        <!--<img src="img/home/feature_prodects/cont4.jpg" width="100%"/>-->
        <!--<span class="product_name">Big block Lether Bag</span>-->
        <!--<span class="product_cost">$350.00</span><br/><br/>-->
        <!--<span class="buy product_3">Buy</span>-->
    <!--</div>-->
    <!--<div class="product">-->
        <!--<img src="img/home/feature_prodects/cont4.jpg" width="100%"/>-->
        <!--<span class="product_name">Big block Lether Bag<br/></span>-->
        <!--<span class="product_cost">$350.00</span><br/><br/>-->
        <!--<span class="buy product_4">Buy</span>-->
    <!--</div>-->
    <!--<div class="product">-->
        <!--<img src="img/home/feature_prodects/cont1.jpg" width="100%"/>-->
        <!--<span class="product_name">Big block Lether Bag</span>-->
        <!--<span class="product_cost">$350.00</span><br/><br/>-->
        <!--<span class="buy product_5">Buy</span>-->
    <!--</div>-->
</div>
<div class="home_page_info">
    <div class="bottom_info">
        <h2>
            关于我们
        </h2>
        <p>
            该网站成立与2022年,交易金额最大可达1亿/日。
        </p>
    </div>
    <div class="bottom_info">
        <h2>
            团队信息
        </h2>
        <p>该网站由你说的都队协力完成。有疑问可以发送问题至邮箱 1981973792@qq.com
        </p>
    </div>
    <div class="bottom_info">
        <h2>
            版权声明
        </h2>
        <p>本网站社区发布的所有信息，都视为发布者同意本网站免费予以使用；同时本网站认为其发布的信息有侵权、违法等行为的，有权予以修改、删除或通知发布者予以纠正的权利，发布者不得阻止或拒绝。
        </p>
    </div>
</div>
<footer>
    <p>Copyright © 2017-2200.Company name All rights reserved.<a href="/"></a></p>
</footer>
</body>
</html>